/*basic css start*/
* {
    outline: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-family: 'MyriadPro';
}

ul,
ol,
ul li {
    list-style: none;
}

img {
    vertical-align: middle;
}

.clr {
    clear: both;
}

.full-wapper {
    width: 100%;
}

.container {
    width: 1170px;
    margin: auto;
}

/*basic css end*/

/*header css end*/
.full-header{
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 999;
}
.header {
   
}

.logo {
    width: 20%;
    float: left;
}

.menu {
    width: 80%;
    float: left;
}

.menu ul {}

.menu ul li {
    float: right;
}

.menu ul li a {
    font-family: 'Exo', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s linear;
}

.menu ul li a:hover {
    border: 2px solid #028794;
}

/*header css end*/

/*banner css end*/
.full-banner {
    background: url('../images/banner.jpg') left top no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.58);
    z-index: -1;
}
.banner-txt{
    padding: 300px 0 80px 0;
}
.banner-arrows{}
.banner-arrows ul{
    text-align: center;
    padding-bottom: 50px;
}
.banner-arrows ul li{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: transparent;
    display: inline-block;
    margin-right: 5px;
    border: 4px solid #fff;
}
.banner-arrows ul li:hover, .banner-arrows ul .active {
    background-color: #028794;
}
/*banner css end*/

/*about css end*/
.about-txt{
    float: left;
    width: 50%;
}
.about-img{
    float: left;
    width: 50%;
}
/*about css end*/

/*service css end*/
.full-service{
    background: url('../images/service-bg.jpg') left top no-repeat;
    background-size: cover; 
    padding: 58px 0 63px 0;
    border-bottom: 2px solid #333333;
    position: relative;
    z-index: 1;
    
}
.service-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.head{
    text-align: center;
}
.head h2{
    font-size: 25px;
    color: #009999;
    text-transform: uppercase;
}
.head p{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 14px 0 8px 0;
}
.service-cont-col{
    width: 33.33%;
    float: left;
}
.service-cont-col i{
    font-size: 26px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    color: #fff;
    background-color: #007582;
    line-height: 56px;
    text-align: center;
}
.service-cont-col h3{
    display: inline-block;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
}
.service-cont-col p{
    font-size: 13px;
    color: white;
    text-align: justify;
    margin: 24px 33px 0 0;
}
/*service css end*/

/*work css end*/
.full-work{
    padding: 57px 0 47px 0;
}
.work-head p{
    color: #333333;
    text-transform: capitalize;
    padding: 14px 140px 8px 140px;
    font-size: 15px;
}
.work-menu{
    width: 51%;
    margin: auto;
    
}
.work-menu ul{
    text-align: center;
}
.work-menu ul li{
    display: inline-block
}
.work-menu ul li a{
    font-size: 13px;
    padding: 14px 42px;
    color: #000;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
.work-menu ul li a:hover{
    color: #fff;
    background-color: #028794;
    border-radius: 3px;
    
}
/*work css end*/

/*contact css end*/
.full-contact{
    padding: 34px 0;
    background-color: #070707;
}
.contact-col{
    width: 25%;
    float: left;
}
.contact-col h2{
    font-size: 19px;
    color: #009999;
    text-transform: uppercase;
}
.contact-col ul li{
    list-style: url(../images/list-shape.png);
    list-style-position: inside;
}
.contact-col ul li a{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 12px;
}
.contact-col p{
    color: white;
    text-transform: capitalize;
    font-size: 13px;
    margin-top: 12px;
}
.contact-col p i{
    font-size: 20px;
    margin-right: 15px;
}
/*contact css end*/














