*{
    box-sizing: border-box;
}
html body{
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    min-height: 100vh;

}
.container{
    width: 55%;
    margin: 0 auto;
}
p{
    color: black;
    font-size: 16px;
    line-height: 1.4;
    margin-top: 15px;
}
a{
    color: black;
}
h1{
    font-size: 36px;
    color: black;
    font-weight: bold;

}
h3{
    font-size: 24px;
    color: black;
    font-weight: 500;
}

/* navbar */

nav{
    background: #EAEAEA;
}

.nav-container{
    display: flex;
    padding: 30px;
    align-items: center;
        
}
.brand-logo {
    width: 170px;
    
}
.brand-logo img{
    width: 100%;
    height: auto;
}
.nav-items{
    margin-left: auto;
}
.nav-items ul{
    display: flex;
}
.nav-items a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
}
.nav-items li{
    margin-left: 30px;
    padding: 10px 15px;;
}
.nav-items li:hover{
    border-bottom: 5px solid #0066f9;
}
.active{
    border-bottom: 5px solid #0066f9;
}
.btn{
    background-color:#0066f9 ;
    border-radius: 1px;
}
.btn a{
    color: white;
}
/* footer */
footer{
    padding: 20px 50px;
}
hr.hr {
    border-top: 1px solid#EAEAEA;
    margin: 0;
  }
  .icons span{
      margin-right: 20px;
  }
  .icons i{
      color:#0066f9 ;
      font-size: 50px;
  }
  .icons a,
  span{
      margin: 0;
      padding: 0;
  }
  /* main content */
  main{
      padding: 50px;
  }
  
